@using Bookish.Models.Models
@model Bookish.Models.Catalogue;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>This is the Search Page</h2>

<table style="width:100%">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year Published</th>
    </tr>
    @foreach (Book book in Model.BookList)
    {
        <tr>
            <td>@book.Title</td>
            <td>
                @book.AuthorFirstName @book.AuthorLastName
            </td>
            <td>@book.YearPublished</td>
        </tr>
    }
</table>