@* @model TModel *@

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h1>Search</h1>
<h2>Display all books</h2>
<a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="AllOrderByAuthorLastName">Order by Author</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="AllOrderByYearDesc">Order by year published</a>
<h2>Search for:</h2>

