@using Bookish.Models.Models
@model Bookish.Models.Models.BookModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>This is the Search Page</h2>

<p>
    Title: @Model.Title
<br/>
    Author: @Model.AuthorFirstName @Model.AuthorLastName
    <br/>
    Year Published: @Model.YearPublished
    <br/>
</p>


