@using Bookish.Models.Models
@model Bookish.Models.Models.BookModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>This is the Search Page</h2>

<p>
    Title: <br/>
    Author: <br/>
    Year Published:<br/>
</p>


